# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the 
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/screenshots

#Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/

# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

.DS_Store  
.DS_Store? 

## Obj-C/Swift specific
*.hmap
*.ipa

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
#Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build
*.xcuserstate

DkyAppHD/.bundle/config
DkyAppHD/vendor/bundle/ruby/2.3.0/cache/CFPropertyList-2.3.5.gem
DkyAppHD/vendor/bundle/ruby/2.3.0/cache/public_suffix-2.0.5.gem
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/LICENSE
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/README
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/THANKS
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbBinaryCFPropertyList.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbCFPlistError.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbCFPropertyList.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbCFTypes.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbLibXMLParser.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbNokogiriParser.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbPlainCFPropertyList.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/CFPropertyList-2.3.5/lib/cfpropertylist/rbREXMLParser.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.gitignore
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.rubocop.yml
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.rubocop_defaults.yml
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.ruby-gemset
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.travis.yml
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/.yardopts
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/2.0-Upgrade.md
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/CHANGELOG.md
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/Gemfile
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/LICENSE.txt
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/public_suffix.gemspec
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/Rakefile
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/README.md
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/data/list.txt
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix/domain.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix/errors.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix/list.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix/rule.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/lib/public_suffix/version.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/acceptance_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/benchmark_helper.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/execution_profiler.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/initialization_profiler.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/performance_benchmark.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/psl_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/test_helper.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/tests.txt
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/unit/domain_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/unit/errors_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/unit/list_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/unit/public_suffix_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/gems/public_suffix-2.0.5/test/unit/rule_test.rb
DkyAppHD/vendor/bundle/ruby/2.3.0/specifications/CFPropertyList-2.3.5.gemspec
DkyAppHD/vendor/bundle/ruby/2.3.0/specifications/public_suffix-2.0.5.gemspec
